body {
     margin: 0;
     background: url("../images/fog-trees-background.jpg");
     background-repeat:no-repeat;
     background-size: cover;
}

#banner {
    width: 100%; 
    margin: 0; 
    position: fixed;
    top: 0;
    left: 0;
    height: 25%;
    z-index: 1;
}

.container {
	margin-top: 200px;
	z-index: 0;
}

img {
	width: 100%;
}

p {
	color: #5e3a38;
	font-weight: bold;
}
